/*
Theme Name: AIBOHZ
Theme URI: 
Author: the Neo Ma
Author URI: http://iibelieve.net/
Description:AIBOHZ site theme
Version: 0.1
License: GNU General Public License
License URI: license.txt
Tags:
*/

/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,img {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

strong {
    font-weight: bold;
}

body{
	font:12px/1.5 tahoma,arial,verdana,sans-serif;
	background:#F2F2F2;
}
ol, ul {
	list-style: none;
}

#main{
	clear:both;
	padding-bottom:30px;
	margin:0 auto;
	min-height:600px;
	width:100%;
	background:url('./image/main_bg.png') no-repeat left top #f4fdf4;
}
/******************menu style*************************/
#main_menu div {
    margin: 0 5%;
}

#main_menu{
	position:relative;
	display:inline-block;
	width:900px;
	background:url('./image/menu_bg.png') repeat-x 0 0;
    /*background: -moz-linear-gradient(#7BEC30,#72DB2E, #7BEC30);
	background: -o-linear-gradient(#7BEC30,#72DB2E, #7BEC30);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7BEC30), to(#72DB2E));
	background: -webkit-linear-gradient(#7BEC30, #72DB2E);
	-webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
	-moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;*/
}

#main_menu ul {
	font-size: 13px;
	list-style: none;
	margin: 0 0 0 -0.8125em;
	padding-left: 0;
}
#main_menu li {
	float: left;
	position: relative;
}

#main_menu ul ul {
	-moz-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	display: none;
	float: left;
	margin: 0;
	position: absolute;
	top: 2.5em;
	left: 0;
	width: 188px;
	z-index: 99999;
}
#main_menu ul ul a {
	background: #f9f9f9;
	border-bottom: 1px dotted #ddd;
	color: #444;
	font-size: 13px;
	font-weight: normal;
	height: auto;
	line-height: 1.4em;
	padding: 8px 10px 10px 16px;
	width: 168px;
}
#main_menu ul ul ul {
	left: 100%;
	top: 0;
}

#main_menu a {
	color: #eee;
	display: block;
	line-height: 2.5em;
	padding: 0 1.2125em;
	text-decoration: none;
}
#main_menu li:hover > a,
#main_menu ul ul :hover > a {
	background: #efefef;
}
#main_menu li:hover > a {
	
	/*background: #f9f9f9;
	background: -moz-linear-gradient(#f9f9f9, #e5e5e5);
	background: -o-linear-gradient(#f9f9f9, #e5e5e5);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f9f9f9), to(#e5e5e5)); 
	background: -webkit-linear-gradient(#f9f9f9, #e5e5e5);*/
	
	
	background:url('./image/menu_over_bg.png') repeat-x 0 0;
	color: #373737;
}
#main_menu ul li:hover > ul {
	display: block;
}

#main_menu .current-menu-item > a,
#main_menu .current-menu-ancestor > a,
#main_menu .current_page_item > a,
#main_menu .current_page_ancestor > a {
	font-weight: bold;
}


ul.menu>li.current-menu-item>a,
ul.menu>li.current-menu-ancestor>a,
ul.menu>li.current_page_item>a,
ul.menu>li.current_page_ancestor>a{
	background:url('./image/menu_over_bg.png') repeat-x 0 0;
	color:#373737 !important;
}
/*********************************************************************/
pre {
 white-space: pre-wrap;       /* CSS-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 Word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

#wrapper{
	margin:20px auto;
	width:900px;
	position:relative;
	background-color:#ffffff;
	min-height:800px;
	overflow:hidden;
}



#header_image{
	height:150px;
}
.main_bg_color{
	background-color:#F0F8FF;
}
#logo img{
	width:60px;

}
#logo{
	position:absolute;
	left:20px;
	top:40px;
}

#main_group1{
	margin:0 auto;
	width:820px;
	height:300px;
    padding:30px 0 20px 0;
}
#main_group1 img{
	border:1px solid #cdcdcd;
}
#main_group1_part1{
	width:480px;
	margin-right:10px;
	height:300px;
	float:left;
}

.entry_title a,
#current_position a,
li.cat_post_title a,
li.sidebar_post_title a,
.mg1_p2_content a{
	color:#222222;
	text-decoration: none;
}
a{
	color:#222222;
	text-decoration: none;
}
.entry_title a:hover,
#current_position a:hover,
li.cat_post_title a:hover,
li.sidebar_post_title a:hover,
.mg1_p2_content a:hover{
	color:#1982d1;
}

.mg1_p1_thumbnail img{
	width:200px;
	height:auto;
}

.mg1_p1_thumbnail{
	background:#ffffff;
	margin:30px 10px 0 10px;
	padding:5px;
	float:left;
	border:1px solid #cdcdcd;
}
.mg1_p1_des{
	margin:30px 0 0 0;
	width:200px;
	float:left;
}

#mg1_tip1{
	position:absolute;
	top:140px;
	left:-30px;
}
#mg1_tip2{
	position:absolute;
    top:-30px;
    left:-30px;
}
#mg2_tip1{
	position:absolute;
    top:-30px;
    left:-30px;
}
#mg2_tip2{
	position:absolute;
    top:140px;
    left:-30px;
}
#mg3_tip1{
	position:absolute;
	top:10px;
	left:300px;
}
#mg3_tip1 img,#mg1_tip1 img,#mg1_tip2 img,#mg2_tip1 img,#mg2_tip2 img{
	border:0px;
}

.mg1_p1_title{
	background:url('./image/list_icon.png') no-repeat 0 6px;
    padding:5px 0 0 17px;
    font:bold 12px/1.5 'Tahoma','simsun';
}
.mg1_p1_contant{
    margin:20px 0;
}

.mg1_p2_content{
	margin:40px 0 0 40px;
	padding:10px;
	width:75%;
	font:13pxem 'Tahoma','simsun';
}
#main_group1_part2{
    width:300px;
    margin-left:10px;
    height:300px;
    float:left;
}

#main_group2{
    margin:0 auto;
    width:820px;
    height:300px;
    padding:30px 0 20px 0;
}

#main_group3 img{
	padding:5px;
	border:1px solid #cdcdcd;
}

#main_group2_part1{
    width:300px;
    margin-right:30px;
    height:300px;
    float:left;
}

#main_group2_part2{
    width:450px;
    margin-left:30px;
    height:300px;
    float:left;
}

#main_group3{
    margin:0 auto;
    width:850px;
    height:350px;
    padding:30px 0 20px 0;
}

#main_group3_part1{
	padding-top:20px;
    width:250px;
    margin-right:20px;
    height:300px;
    float:left;
}

#main_group3_part2{
	padding-top:20px;
    width:250px;
    margin-left:20px;
    margin-right:20px;
    height:300px;
    float:left;
}

#main_group3_part3{
	padding-top:20px;
    width:250px;
    margin-left:20px;
    height:300px;
    float:left;
}


.teacher_photo{
    margin: 0 auto;
    width:60%;
}

.teacher_des{
	margin:10px auto;
	width:80%;
}

.left_rounds{
	position:absolute;
	top:-15px;
	left:-40px;
	background:url("./image/3round.png") no-repeat 0 0;
    width:36px;
    height:33px;
    float:left;
}
.right_rounds{
    position:absolute;
    top:-15px;
    right:-40px;
    background:url("./image/3round.png") no-repeat 0 0;
    width:36px;
    height:33px;
    float:left;
}

.left_vertical_split2{
    position:absolute;
    top:850px;
    left:20px;
    background:url("./image/3round.png") no-repeat 0 0;
    width:36px;
    height:33px;
    float:left;
}
.right_vertical_split2{
    position:absolute;
    top:850px;
    right:20px;
    background:url("./image/3round.png") no-repeat 0 0;
    width:36px;
    height:33px;
    float:left;
}

.vertical_split{
	position:relative;
	background:url("./image/ver_splite.png") repeat-y 0 0;
	width:3px;
	height:150px;
	margin-top:70px;
	float:left;
}

.horizontal_split{
	position:relative;
	clear:both;
	background:url("./image/hor_splite.png") repeat 0 0;
	height:2px;
	width:750px;
	margin:0 auto;
}

/*-------------footer style------------*/
#footer{
	position:absolute;
	margin:0 auto;
	width:900px;
	text-align:center;
	bottom:0;
	padding:0;
	color:#666666;
}

#footer hr{
    border-color: #D5D0BF -moz-use-text-color -moz-use-text-color;
    border-right: 0 none;
    border-style: dotted none none;
    border-width: 1px 0 0;
}

/*******************************************/

#current_position{
    margin:0 0 0 1em;
    height:2em;
}

/**********single page style**************/
#primary{
    float:left;
	margin: 30px 0 70px;
	width:60%;
}


.entry_content img{
	max-width:90% !important;
	padding:5px;
	height:auto !important;
	border:1px solid #cdcdcd;
}

.single_post{
	margin:2em 0 0 4em;
}

h1.entry_title{
	font:bold 1.25em 'Tahoma','simsun';
}

.entry_header_meta{
	padding:2px;
	position:absolute;
    font-size:12px;
    font-family:tahoma,arial,verdana,sans-serif;
    right:35%;
    color:#666666;
	background:url('./image/header_meta_bg.png') repeat-y right;
}

.entry_content{
	margin:1.55em 0;
	font:1em 'simsun','Tahoma';
    line-height:2em;
}




/*****************************************/

/***************page style**********/
#page_primary{
	margin: 30px 0 70px;
}

#page_content .entry_title{
	text-align:center;
}

#page_content .entry_content{
	font-size:1em;
}
#page_content{
	margin:0 auto;
	width:80%;
}
/**********************************/
/***********right_side_bar************/
#right_sidebar{
	margin:0;
	padding:50px 0;
	border-left:1px solid #7BEC30;
	width:35%;
	height:400px;
	float:right;
}

#related_read{
	margin:0 auto;
	width:80%;
	border-bottom:1px solid #eeffe2;
}

li.sidebar_post_title,li.sidebar_cur_post_title{
	padding:6px 5px 6px 5px;
	position:relative;
}

.sidebar_post_title{
	padding-left:1em !important;
}

.sidebar_post_title>a,
.sidebar_cur_post_title>a{
	display:block;
	width:100%;
}

.sidebar_post_title:hover,
.sidebar_cur_post_title:hover{
	background:#eeffe2;
}

.sidebar_cur_post_title{
	padding-left:2em !important;
}

.siderbar_title{
	padding:5px 5px 5px 5px;
	text-align:center;
	font:1em 'Tahoma','simsun';
	color:#555555;
	background:url('./image/siderbar_right_title_bg.png') repeat-x top;
}

.cur_title_tip{
	position:absolute;
	top:5px;
	right:0;
	width:10px;
	height:1.5em;
	background:#4583A6;
}

/*************************************/
/*************page path*****************/
.page_path_split{
	margin:1.5em 0;
	width:1em;
	height:0.5em;
	float:left;
	display:block;
}
.split_color1{
	background:#00904a;
}

.split_color2{
	background:#eaac01;
}
.split_color3{
	background:#eb3d00;
	
}
.page_path_name{
	float:left;
	display:block;
}
/***************************************/

/********catagory page style************/
#cat_post_list{
	margin:2em 0 0 3em;
	clear:both;
}

li.cat_post_title img{

}
li.cat_post_title{
	padding:5px;
	font:1em  'Tahoma','simsun';
}


/****************************************/

.shadow_page{
    -moz-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	box-shadow: 0 3px 3px rgba(0,0,0,0.2);
}

.round_corner_5px{
	-moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    border-radius:10px; 
    -moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
}
